/* Primary */
body {
  font-family: Alselm;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
/*/ Primary */

/* Secondary */
.p-text {
  font-size: 3rem;
}
.textw-reg {
  font-family: Alselm;
}
.textw-med {
  font-family: Alselm-medium;
}
.fw-bold {
  font-family: Alselm-bold;
}
.section-title__text {
  font-family: Alselm-bold;
  font-size: 4rem;
  line-height: 5.2rem;
}
.section-title__background {
  position: absolute;
}
.section-title {
  position: relative;
}
/*/ Secondary */

/* Button */
.btn {
  text-align: center;
  display: inline-block;
  background: #1171C9;
  box-shadow: 0px 0px 20px rgba(17, 113, 201, 0.72);
  border-radius: 100px;
  padding: 1.5rem 3.1rem;
  font-size: 1.7rem;
  color: #fff;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.btn:hover {
  box-shadow: 0px 0px 25px rgba(17, 113, 201, 1);
}
/*/ Button */

/* Menu Btn */
.nav-menu {
  display: none;
  position: relative;
  width: 3.5rem;
  height: 2.5rem;
  cursor: pointer;
  z-index: 100;
}
.nav-menu-stroke {
  display: block;
  position: absolute;
  top: 40%;
  right: 0;
  width: 100%;
  height: .2rem;
  background-color: #fff;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.nav-menu-stroke:last-child  {
  width: 65%;
  top: calc(40% + .75rem);
}
/*/ Menu Btn */

/* Navigation */
.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__inner {
  display: flex;
  align-items: center;
}
.nav__item {
  margin: 0 2.4rem;
}
.nav__item:first-child {
  margin-left: 0;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__item a {
  color: #fff;
  font-size: 1.5rem;
  transition: .15s;
  -webkit-transition: .15s;
  -moz-transition: .15s;
  -ms-transition: .15s;
  -o-transition: .15s;
}
.nav__item:hover a {
  color: #B6D9E3;
}
.nav__item--active a {
  color: #10B1E3;
}
/*/ Navigation */

/* Select */
#countries {
  max-width: 15rem;
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  font-family: Alselm;
}
#countries option {
  display: inline-block;
  color: #000;
  font-family: Alselm;
}
/*/ Select */

/* Decision */
.decision .section-title__text {
  max-width: 61rem;
}
.decision__inner {
  display: flex;
  justify-content: space-between;
}

.decision__info {
  margin-right: 5rem;
}

.decision__about-list {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
}
.decision__about-item {
  display: flex;
  font-size: 2.3rem;
  line-height: 3rem;
  align-items: center;
}
.decision__about-item-icon {
  min-width: 10rem;
  min-height: 10rem;
  background-image: url(../images/icons/computer-mail-purse.png);
  background-position: center 0px;
}
.decision__about-item-icon-1 {
  background-position-y: 0;
}
.decision__about-item-icon-2 {
  background-position-y: -12.5rem;
}
.decision__about-item-icon-3 {
  background-position-y: -25rem;
}

.decision__companies {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.decision__img-wrap {
  position: relative;
}
.decision__img {
  position: relative;
  z-index: 2;
}
.decision__img-wrap::before {
  content: '';
  display: block;
  position: absolute;
  width: 81.5rem;
  height: 81.5rem;
  top: -50%;
  right: -57%;
  background: #B0DEEE;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
  transform: translateY(10%);
  -webkit-transform: translateY(10%);
  -moz-transform: translateY(10%);
  -ms-transform: translateY(10%);
  -o-transform: translateY(10%);
}
/*/ Decision */

/* Instrument */
.instrument {
  margin-top: 15rem;
}
.instrument * {
  z-index: 5;
}

.instrument .section-title {
  max-width: 100rem;
}
.instrument .section-title .section-title__background {
  left: -21%;
  z-index: 1;
}

.instrument__inner {
  display: flex;
}
.instrument__info {
  display: flex;
  margin-top: 10rem;
}
.instrument__info-img {
  width: 8rem;
  height: 8.5rem;
  margin-right: 2rem;
}
.instrument__info-text {
  max-width: 66rem;
  line-height: 4rem;
}

.instrument__img-wrap {
  width: 35%;
}
.instrument__img {
  display: block;
  transform: translate(-12%, -15%);
  -webkit-transform: translate(-12%, -15%);
  -moz-transform: translate(-12%, -15%);
  -ms-transform: translate(-12%, -15%);
  -o-transform: translate(-12%, -15%);
}
/*/ Instrument */

/* How Its work */
.how-its-work {
  margin-top: 3rem;
}
.how-its-work__integration {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.how-its-work__integration-text {
  font-size: 4rem;
}
.how-its-work__integration-imgs {
  display: flex;
  align-items: center;
}
.how-its-work__integration-img {
  margin: 0 1.5rem;
}

.how-its-work__imgs {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.how-its-work__imgs img {
  width: 100%;
}
.how-its-work__imgs img:first-child {
  margin-right: 1rem;
}
.how-its-work__imgs img:last-child {
  margin-left: 1rem;
}

.how-its-work__checkpoints {
  margin-top: 16rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.how-its-work__checkpoint {
  margin: 1rem;
  position: relative;
}

.how-its-work__checkpoint:nth-child(4) {
  display: flex;
  margin: 1rem;
  position: relative;
  flex-direction: column;
  justify-content: center;
}
.how-its-work__checkpoint:nth-child(4) .how-its-work__checkpoint-count {
  top: -15rem;
}

.how-its-work__checkpoint * {
  z-index: 5;
  position: relative;
}
.how-its-work__checkpoint p {
  line-height: 4.2rem;
}
.how-its-work__checkpoint-count {
  font-size: 30rem;
  position: absolute;
  font-family: Arial;
  font-weight: bold;
  z-index: 1;
  top: -19rem;
  left: -5rem;
  color: rgba(176, 222, 238, 0.39);
}

.how-its-work__checkpoint .marker-text {
  margin: 5rem 0;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: rgba(0, 0, 0, 0.28);
}
/*/ How Its work */

/* Price */
.price {
  margin-top: 6rem;
}
.price .section-title__background {
  position: absolute;
  left: -21rem;
  top: -12rem;
}
.price .section-title__text {
  max-width: 86rem;
}

.price__inner {
  display: flex;
}
.price__img-wrap {
  position: relative;
  right: 0;
  top: -10rem;
}

.price__subtitle {
  font-size: 2.5rem;
  font-family: Alselm-bold;
  margin: 4rem 0;
}
.price__list {
  display: grid;
  grid-template-columns: repeat(2, 32rem);
}
.price__list-item {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
p.price__list-item-text {
  max-width: 22rem;
  font-size: 2rem;
  line-height: 2.5rem;
  text-transform: uppercase;
}
/*/ Price */

/* Free Test */
.free-test {
  display: flex;
}

.free-test .section-title__text {
  text-transform: uppercase;
}

.message-free-test {
  margin-top: 5rem;
  max-width: 92rem;
  padding: 2.2rem 2.6rem 2.2rem 3rem;
  background: #F9F9F9;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.13);
  border-radius: 40px;
}
.message-free-test__inner {
  display: flex;
}
.message-free-test__img {
  margin-right: 2.8rem;
  max-width: 7rem;
  max-height: 7.2rem;
}
.message-free-test__title {
  font-family: Alselm-bold;
  font-size: 3.5rem;
  line-height: 4.6rem;
  text-transform: uppercase;
}
.message-free-test__title img {
  display: none;
}
.message-free-test__text {
  font-family: Alselm-bold;
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 2.6rem;
  text-transform: uppercase;
}

.free-test__form-stroke {
  margin: 2.2rem 0;
}
.free-test__stroke-title {
  display: block;
  font-size: 3rem;
  line-height: 4rem;
  color: #50A4DE;
}
.free-test__stroke-input {
  width: 100%;
  max-width: 68.5rem;
  min-width: 68.5rem;
  margin-top: 1rem;
  padding: 1.5rem 3rem 1.5rem;
  background: #F5F5F5;
  border-radius: 50px;
  font-size: 2.2rem;
  line-height: 3rem;
  color: rgba(0, 0, 0, 0.45);
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}
.free-test__stroke-input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.free-test__form-submit {
  margin-top: 3rem;
  max-width: 32rem;
  width: 100%;  
}

.free-test__inner {
  display: flex;
}
.free-test__img {
  position: relative;
  top: 2rem;
  right: 0;
}
/*/ Free Test */

/* DataBase */
.database {
  overflow: hidden;
  padding: 5rem 0 18rem;
  margin-top: 5rem;
  position: relative;
}
.database::after {
  content: '';
  position: absolute;
  top: -10%;
  right: -50%;
  width: 125rem;
  height: 125rem;
  background: linear-gradient(180deg, #B8E2F0 0%, #8DCDE8 100%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.database * {
  position: relative;
  z-index: 5;
}
.database .section-title__background {
  position: absolute;
  top: -8rem;
  left: -17rem;
  z-index: 1;
  transform: scale(.7);
  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
  -ms-transform: scale(.7);
  -o-transform: scale(.7);
}
.database .section-title__text {
  text-transform: uppercase;
  font-size: 3.2rem;
  line-height: 4.2rem;
}
.database__inner {
  display: flex;
}

.database__list {
  margin-top: 5rem;
}
.database__list-item {
  display: flex;
  margin: 2.5rem 0;
  align-items: center;
}
.database__list-item-img {
  background-position: center;
  background-repeat: no-repeat;
  min-width: 8.5rem;
  min-height: 8.5rem;
}
.database__list-item-text {
  margin-left: 1rem;
  max-width: 55rem;
  font-size: 2rem;
  line-height: 3rem;
  text-transform: uppercase;
}
.database__list-item-text:nth-child(2) {
  max-width: 60rem;
}

.database__imgs {
  position: absolute;
  right: 0;
}
.database__img {
  position: absolute;
}
.database__img:first-child {
  left: -45rem;
  top: 0;
}
.database__img:last-child {
  left: -65rem;
  top: 10rem;
}
/*/ DataBase */

/* About */
.about {
  margin-top: 4rem;
  position: relative;
}
.about .section-title * {
  position: relative;
  z-index: 5;
}
.about .section-title__background {
  position: absolute;
  z-index: 1;
  opacity: 0.25;
  top: 4.5rem;
  left: -11rem;
}
.about .section-subtitle {
  margin: 2rem 0;
  font-size: 3rem;
  line-height: 4.2rem;
}
.about .section-title__text {
  text-transform: uppercase;
}
.about__title {
  margin-top: 3rem;
  font-size: 3rem;
  line-height: 4.2rem;
}
.about__list {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 18rem);
}
.about__list-item {
  margin: 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__info .btn {
  margin-top: 7rem;
}
.about__inner {
  display: flex;
}

.about__img {
  position: relative;
  top: -7rem;
  right: 2rem;
}
/*/ About */

/* Create */
.create {
  margin-top: 0rem;
}
.create * {
  position: relative;
  z-index: 5;
}
.create .section-title__text {
  max-width: 55rem;
}
.create .section-subtitle {
  max-width: 63rem;
  margin-top: 2.5rem;
  font-size: 2rem;
  line-height: 2.6rem;
}
.create .section-title__background {
  position: absolute;
  z-index: 1;
  top: -6rem;
  left: -3rem;
}
.create__inner {
  display: flex;
}

.create__list {
  margin-top: 6.5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(30rem, 40rem));
}
.create__list-item {
  display: flex;
  margin: 1.5rem 0;
  align-items: center;
}
.create__list-item-text {
  font-size: 1.9rem;
  line-height: 2rem;
}
.create__list-item-img {
  min-width: 8rem;
  min-height: 7.2rem;
  max-width: 8rem;
  max-height: 7.2rem;
}

.create__img-wrap {
  top: -10rem;
  right: -2.5rem;
  position: relative;
}
.create__img-wrap img {
  position: absolute;
}

.create__comments {
  display: flex;
  margin-top: 10rem;
}
.create__comment {
  display: flex;
  margin: 0 1rem;
  align-items: center;
}
.create__comment-text {
  max-width: 35rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-transform: uppercase;
}
.create__comment-img {
  margin-right: 1rem;
}
/*/ Create */

/* Location */
.location {
  margin-top: 7.5rem;
  padding: 40rem 0 20rem;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.location .section-title * {
  position: relative;
  z-index: 5;
}
.location .section-subtitle {
  margin-top: 1.5rem;
  max-width: 51rem;
  font-size: 2rem;
  line-height: 2.5rem;
}
.section-title__background {
  top: -3.5rem;
  left: -5rem;
  position: absolute !important;
  z-index: 1 !important;
}
/*/ Location */

/* Statistic */
.statistic {
  margin-top: 10rem;
}
.statistic * {
  position: relative;
  z-index: 5;
}
.statistic .statistic__background {
  position: absolute;
  z-index: 1;
  top: -11rem;
  left: 0;
  transform: scale(.8);
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  -o-transform: scale(.8);
}
.statistic__title {
  font-family: Alselm-bold;
  font-size: 3.8rem;
  text-align: center;
}

.statistic__blocks {
  margin-top: 3rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(30rem, 42rem));
}
.statistic__block {
  margin: 2rem 1rem;
  max-width: 42rem;
  padding: 1rem 1.5rem 3.5rem;
  display: flex;
  background-color: #F0F5F5;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
  box-shadow: 2.5rem 2.5rem 3rem rgba(80,164,222, .25);
}
.statistic__block-title {
  font-size: 1.8rem;
  margin: 1.5rem 0;
}
.statistic__block-title span {
  font-family: Alselm-bold;
  font-size: 4rem;
}
.statistic__block-img {
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  min-width: 10.5rem;
  min-height: 10.5rem;
  max-width: 10.5rem;
  max-height: 10.5rem;
}
.statistic__block-text {
  font-size: 2rem;
  max-width: 22rem;
}
/*/ Statistic */

/* Feedback */
.feedback {
  margin-top: 8rem;
}
.feedback .section-subtitle {
  margin-top: 1rem;
  font-size: 2rem;
  line-height: 2.6rem;
}
.feedback__innew-wrap {
  display: flex;
}

.feedback__list {
  margin-top: 8rem;
}
.feedback__list-item {
  display: flex;
  align-items: center;
}
.feedback__list-item-text{
  font-size: 2rem;
  line-height: 2.6rem;
  color: #000;
  margin-left: 2rem;
}
.feedback__list-item-img {
  background-position: center;
  min-width: 6rem;
  max-width: 6rem;
  min-height: 7.5rem;
  max-height: 7.5rem;
}

.feedback__socials {
  display: flex;
  align-items: center;
  margin-top: 22rem;
}
.feedback__socials-item {
  width: 2.5rem;
  cursor: pointer;
  margin: 0 .75rem;
}
.feedback__socials-item svg {
  width: 100%;
  height: auto;
  transition: .15s;
  -webkit-transition: .15s;
  -moz-transition: .15s;
  -ms-transition: .15s;
  -o-transition: .15s;
}
.feedback__socials-item:first-child {
  width: 3rem;
}
.feedback__socials-item:hover svg {
  fill:rgba(17, 113, 201, 1);
}

.feedback__img {
  width: 50%;
  position: relative;
  right: -25rem;
  top: -10rem;
}
/*/ Feedback */

/* Footer */
.footer {
  padding: 3rem 0 4rem;
  margin-top: auto;
  background: #2E2E2E;
}
.footer .nav {
  width: 80%;
  display: block !important;
}
.footer__inner {
  display: flex;
  align-items: center;
}
.footer__social-list {
  display: flex;
  margin-top: 2rem;
}
.footer__social-list-item {
  margin: 0 .6rem;
  cursor: pointer;
}
.footer__social-list-item:nth-child(1) {
  margin-left: 0;
}
.footer__social-list-item:nth-child(4) {
  margin-right: 0;
}
.footer__social-title {
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #3F88BB;
}
/*/ Footer */