@font-face {
  font-family: Alselm-bold; /* Имя шрифта */
  
  src: url(../fonts/alselm/AnselmSans-Bold.ttf); /* Путь к файлу со шрифтом */
  font-weight: 700;
}
@font-face {
  font-family: Alselm-medium; /* Имя шрифта */
  
  src: url(../fonts/alselm/AnselmSans-Medium.ttf); /* Путь к файлу со шрифтом */
  font-weight: 500;
}
@font-face {
  font-family: Alselm; /* Имя шрифта */
  
  src: url(../fonts/alselm/AnselmSans.ttf); /* Путь к файлу со шрифтом */
  font-weight: 400;
}
@font-face {
  font-family: Alselm-light; /* Имя шрифта */
  
  src: url(../fonts/alselm/AnselmSans-Light.ttf); /* Путь к файлу со шрифтом */
  font-weight: 300;
}