@media (min-width: 768px) {
  /* Main */
    /* Instrument */
      .instrument__info-text img {
        display: none;
      }
    /*/ Instrument */
  /*/ Main */
}

@media (max-width: 1024px) {
  /* Header */
  .header__top-inner {
    justify-content: space-between;
  }

  .header .nav-menu {
    display: block;
    right: 0;
  }

  .header .nav {
    width: 50vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    background-color: rgba(0,0,0, .9);
    backdrop-filter: blur(5px);
}
  .header .nav__inner {
    flex-direction: column;
  }
  .header .nav__item {
    margin: 1rem auto !important;
  }
  .header .nav__item a {
    font-size: 1.8rem;
  }
  /*/ Header */

   /* Main */
    /* Decision */
      .decision__img-wrap img {
        transform: translateX(-10%) scale(.9);
        -webkit-transform: translateX(-10%) scale(.9);
        -moz-transform: translateX(-10%) scale(.9);
        -ms-transform: translateX(-10%) scale(.9);
        -o-transform: translateX(-10%) scale(.9);
      }
      .decision__img-wrap::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
    /*/ Decision */
    /* Instrument */
      .instrument__img {
        transform: translate(-5%, -15%);
        -webkit-transform: translate(-5%, -15%);
        -moz-transform: translate(-5%, -15%);
        -ms-transform: translate(-5%, -15%);
        -o-transform: translate(-5%, -15%);
}
    /*/ Instrument */
    /* How Its work */
      .how-its-work__integration-text {
        font-size: 3.4rem;
      }
      .how-its-work__integration-img {
        margin: 0 1rem;
      }

      .how-its-work {
        margin-top: 3rem;
      }
      .how-its-work__integration {
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .how-its-work__integration-text {
        font-size: 4rem;
      }
      .how-its-work__integration-imgs {
        display: flex;
        align-items: center;
      }
      .how-its-work__integration-img {
        margin: 0 1.5rem;
      }

      .how-its-work__imgs {
        margin-top: 8rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      .how-its-work__imgs img {
        width: 100%;
      }
      .how-its-work__imgs img:first-child {
        margin-right: 1rem;
      }
      .how-its-work__imgs img:last-child {
        margin-left: 1rem;
      }

      .how-its-work__checkpoints {
        margin-top: 16rem;
        display: grid;
        grid-template-columns: repeat(2, 50%);
      }
      .how-its-work__checkpoint-img {
        width: 100%;
      }

      .how-its-work__checkpoint:nth-child(4) .how-its-work__checkpoint-count {
        top: 3rem;
      }
      .how-its-work__checkpoint-count {
        font-size: 26rem;
        position: absolute;
        font-family: Arial;
        font-weight: bold;
        z-index: 1;
        top: -15rem;
        left: -3rem;
        color: rgba(176, 222, 238, 0.39);
      }
    /*/ How Its work */
    /* Free Test */
      .free-test__info {
        width: 100%;
      }
      .free-test__form {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .free-test__stroke-input {
        min-width: unset;
      }
      .free-test__img {
        display: none;
      }
    /*/ Free Test */
    /* DataBase */
      .database::after {
        content: '';
        position: absolute;
        top: -10%;
        right: -100%;
        width: 125rem;
        height: 125rem;
      }
      .database__imgs,
      .database__img {
        display: block;
        top: unset !important;
        left: unset !important;
        position: relative;
      }
      .database__inner {
        flex-direction: column;
      }
      .database__img {
        max-height: 40rem;
        display: flex;
        justify-content: center;
      }
      .database__img img {
        width: auto;
        height: 100%;
      }
      .database__img:nth-child(2) {
        margin-top: -10rem;
      }
    /*/ DataBase */
  /*/ Main */

  /* Footer */
    .footer__inner {
      flex-direction: column;
    }
    .footer .site-logo {
      margin-right: 0;
    }
    .footer .nav {
      margin: 2.5rem 0;
    }
    .footer .nav .nav__inner {
      flex-direction: column;
      align-items: center;
    }
    .footer .nav .nav__inner .nav__item {
      margin: 0.5rem 0;
    }
    .footer__social {
      text-align: center;
    }
    .footer__social-list-item img {
      width: 100%;
      height: 100%;
      min-width: 2.5rem;
      min-height: 2.5rem;
    }
  /*/ Footer */
}
@media (max-width: 768px) {
  /* Secondary */
  .section-title__text {
    font-size: 3.6rem;
    line-height: 5rem;
  }
  /*/ Secondary */

  /* Header */
  .header .nav {
    width: 60vw;
  }
  /*/ Header */

  /* Main */
    /* Decision */
      .decision__inner {
        margin-top: 8rem;
        flex-direction: column-reverse;
      }

      .decision__img-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .decision__img {
        width: 90%;
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
      }
      .decision__img img {
        position: relative;
        left: 50%;
        width: 100%;
        height: auto;
        margin: 0 auto;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
      .decision__img-wrap::before {
        content: '';
        display: block;
        position: absolute;
        width: 95%;
        height: calc(100% + 12rem);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
      .decision__about-list {
        margin-top: unset;
      }
      .decision__info {
        margin-right: unset;
        margin-top: 10rem;
      }
      .decision__companies {
        margin-top: 5rem;
        justify-content: space-around;
      }
    /*/ Decision */
    /* Instrument */
      .instrument {
        margin-top: 8rem;
      }
      .instrument .section-title .section-title__background {
        display: none;
      }
      .instrument__inner {
        flex-direction: column;
      }
      .instrument__info {
        margin-top: 3rem;
      }
      .instrument__img {
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
      }
      .instrument__info-img {
        display: none;
      }
      .instrument__info-text img {
        display: block;
        margin-right: 2rem;
      }
      .instrument__img-wrap {
        margin-top: 1rem;
      }
      .instrument__img-wrap,
      .instrument__img-wrap img{
        width: 100%;
      }
    /*/ Instrument */
    /* How Its work */
      .how-its-work__integration {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
      .how-its-work__integration-imgs {
        align-self: center;
        margin-top: 2.5rem;
      }
      .how-its-work__imgs {
        margin-top: 2.5rem;
      }
      .how-its-work__integration-text {
        font-size: 3.4rem;
      }
      .how-its-work__integration-img {
        margin: 0 1rem;
      }

      .how-its-work__checkpoints {
        margin-top: 10rem;
      }

      .how-its-work__checkpoint:nth-child(4) {
        display: flex;
        margin: 1rem;
        position: relative;
        flex-direction: column;
        justify-content: center;
      }
      .how-its-work__checkpoint:nth-child(4) .how-its-work__checkpoint-count {
        top: -13rem;
      }
      .how-its-work__checkpoint p {
        line-height: 3rem;
        font-size: 2.2rem;
      }
      .how-its-work__checkpoint .marker-text {
        font-size: 1.8rem;
        line-height: 2.6rem;
        margin: 2.5rem 0;
      }
      .how-its-work__checkpoint-count {
        font-size: 26rem;
        position: absolute;
        font-family: Arial;
        font-weight: bold;
        z-index: 1;
        top: -15rem;
        left: -3rem;
        color: rgba(176, 222, 238, 0.39);
      }
    /*/ How Its work */
    /* Price */
      .price .section-title__background {
        display: none;
      }
      .price__img-wrap {
        display: none;
      }
    /*/ Price */
    /* Free Test */
      .free-test {
        margin-top: 8rem;
      }
      .free-test__form-stroke {
        margin: 1rem 0;
      }
    /*/ Free Test */
    /* DataBase */
      .database {
        padding-bottom: 10rem;
      }
      .database .section-title__background {
        display: none;
      }
      .database .section-title__text {
        font-size: 2.8rem;
        line-height: 3.8rem;
      }
      .database::after {
        display: none;
      }
      .database__list {
        margin-top: 2rem;
      }
      .database__img img {
        width: 100%;
      }
      .database__img:last-child {
        margin-top: -10%;
        margin-left: -5%;
      }
      .database__img:last-child img {
        transform: scale(1.35);
        -webkit-transform: scale(1.35);
        -moz-transform: scale(1.35);
        -ms-transform: scale(1.35);
        -o-transform: scale(1.35);
      }
    /*/ DataBase */
    /* Location */
      .location {
        margin-top: 5rem;
        background-position-x: 60%;
      }
      .location .section-title * {
        position: relative;
        z-index: 5;
      }
      .location .section-subtitle {
        margin-top: 1.5rem;
        max-width: 51rem;
        font-size: 2rem;
        line-height: 2.5rem;
      }
      .section-title__background {
        display: none;
      }
    /*/ Location */
    /* About */
      .about .section-title__background {
        display: none;
      }
      .about__list {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(3, minmax(16rem, 1fr));
      }
      .about__list-item {
        margin: 0.75rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .about__info .btn {
        margin-top: 7rem;
      }
      .about__inner {
        flex-direction: column-reverse;
      }

      .about__img {
        top: 0;
        right: 0;
      }
      .about__img img {
        width: 100%;
      }
      /*/ About */
      /* Create */
        .create {
          margin-top: 6rem;
        }
        .create .section-title__background {
          display: none;
        }
        .create__list {
          margin-top: 3.5rem;
          grid-template-columns: repeat(1, 1fr);
        }
        .create__img-wrap {
          display: none;
        }
        .create__comments {
          display: flex;
          flex-wrap: wrap;
          margin-top: 3rem;
        }
        .create__comment {
          margin: 2rem 1rem;
        }
      /*/ Create */
      /* Statistic */
        .statistic {
          margin-top: 10rem;
        }
        .statistic .statistic__background {
          top: -15rem;
          left: -5rem;
          transform: scale(.7);
          -webkit-transform: scale(.7);
          -moz-transform: scale(.7);
          -ms-transform: scale(.7);
          -o-transform: scale(.7);
}
        .statistic__title {
          font-family: Alselm-bold;
          font-size: 3.4rem;
          text-align: center;
        }

        .statistic__blocks {
          grid-template-columns: repeat(2, minmax(30rem, 42rem));
        }
        .statistic__block {
          padding: 1rem 1.5rem 3rem;
        }
        .statistic__block-title {
          font-size: 1.6rem;
        }
        .statistic__block-title span {
          font-family: Alselm-bold;
          font-size: 3rem;
        }
        .statistic__block-img {
          transform: scale(.8);
          -webkit-transform: scale(.8);
          -moz-transform: scale(.8);
          -ms-transform: scale(.8);
          -o-transform: scale(.8);
}
        .statistic__block-text {
          font-size: 1.8rem;
        }
      /*/ Statistic */
      /* Feedback */
        .feedback {
          margin-top: 5rem;
        }
        .feedback .section-subtitle {
          margin-top: 1rem;
          font-size: 2rem;
          line-height: 2.6rem;
        }
        .feedback__innew-wrap {
          flex-direction: column;
        }

        .feedback__list {
          margin-top: 3rem;
        }
        .feedback__list-item {
          display: flex;
          align-items: center;
        }
        .feedback__list-item-text{
          font-size: 2rem;
          line-height: 2.6rem;
          color: #000;
          margin-left: 2rem;
        }

        .feedback__socials {
          margin-top: 3rem;
        }
        .feedback__img {
          margin-top: 2rem;
          top: 0;
          left: 0;
          width: 100%;
          position: relative;
        }
        .feedback__img img {
          width: 100%;
        }
      /*/ Feedback */
  /*/ Main */
  /* Popup */
    .free-test__form-title {
      font-size: 3rem;
      line-height: 3.5rem;
    }
  /*/ Popup */
}
@media (max-width: 550px) {
  /* Secondary */
  .section-title__text {
    font-size: 3.2rem;
    line-height: 4rem;
  }
  /*/ Secondary */

  /* Header */
  
  .header__bottom {
    height: auto;
    padding: 18rem 0 20rem;
  }
  .header__bottom-title {
    max-width: 100%;
    font-size: 4.5rem;
    line-height: 6rem;
  }
  .header__bottom-subtitle {
    margin-top: 1.5rem;
    max-width: 100%;
    font-size: 2.6rem;
    line-height: 3.6rem;
  }
  .header__bottom-inner::before {
    left: -1.5rem;
    height: 82.5%;
    width: 120%;
  }

  .header .nav {
    width: 75vw;
  }
  /*/ Header */

  /* Main */
    /* Decision */
      .decision__info {
        margin-top: 7.5rem;
      }

      .decision__img-wrap::before {
        height: calc(100% + 10rem);
      }

      .decision__companies {
        flex-wrap: wrap;
      }
      .decision__companies-item {
        margin: 0 1.2rem;
      }
    /*/ Decision */
    /* Instrument */
      .instrument {
        margin-top: 5rem;
      }
      .instrument__info-text {
        font-size: 2.5rem;
        line-height: 3.5rem;
      }
      .instrument__info-text img {
        width: 7.5rem;
        height: auto;
      }
    /*/ Instrument */
    /* How Its Work */
      .how-its-work__integration {
        margin-top: 2rem;
      }
      .how-its-work__integration-text {
        font-size: 2.8rem;
      }
      
      .how-its-work__checkpoints {
        margin-top: 5rem;
        grid-template-columns: repeat(1, 1fr);
      }
      .how-its-work__checkpoint {
        display: flex;
        align-items: flex-end;
        margin: 1rem 0;
      }
      .how-its-work__checkpoint div {
        display: flex;
        align-items: flex-end;
      }
      .how-its-work__checkpoint .btn {
        width: 100%;
      }
      .how-its-work__checkpoint-count {
        position: relative;
        top: 0;
        left: 0;
        line-height: 20rem;
      }
      .how-its-work__checkpoint p {
        font-size: 2rem;
      }
      .how-its-work__checkpoint:nth-child(4) .how-its-work__checkpoint-count {
        top: inherit;
        left: 0;
      }
    /*/ How Its Work */
    /* Price */
      .price__list {
        grid-template-columns: repeat(1, 1fr);  
      }
      .price__subtitle {
        margin: 3.5rem 0 3rem;
      }
      .price__list-item-img {
        min-width: 7rem;
        min-height: 7rem;
        width: 7rem;
        height: 7rem;
      }
    /*/ Price */
    /* Free Test */
      .message-free-test__img {
        display: none;
      }
      .message-free-test__title img {
        display: block;
        float: left;
        margin-right: 1rem;
      }
      .message-free-test__title {
        font-size: 2.5rem;
        line-height: 3.6rem;
      }
      .message-free-test__text {
        margin-top: 1rem;
        font-size: 1.6rem;
        line-height: 2.2rem;
      }
    /*/ Free Test */
    /* DataBase */
      .database {
        padding-bottom: 5rem;
      }
      .database .section-title__text {
        font-size: 2.6rem;
        line-height: 3.4rem;
      }
      .database__list {
        margin-top: 2rem;
      }
      .database__list-item-img {
        min-width: 7.5rem; 
        min-height: 7.5rem;
        background-size: contain; 
      }
    /*/ DataBase */
    /* About */
      .about__title {
        margin-top: 1rem;
      }
      .about__list {
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(2, minmax(16rem, 1fr));
      }
      .about__list-item {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .about__info .btn {
        margin-top: 3rem;
      }
    /*/ About */
    /* Create */
      .create__list {
        margin-top: 2rem;
      }
      .create__comments {
        flex-direction: column;
        margin-top: 3rem;
      }
      .create__comment {
        margin: 1.5rem 0 1.5rem 2rem;
      }
    /*/ Create */
    /* Statistic */
      .statistic {
        margin-top: 10rem;
      }
      .statistic .statistic__background {
        top: -15rem;
        left: -5rem;
        transform: scale(.7);
        -webkit-transform: scale(.7);
        -moz-transform: scale(.7);
        -ms-transform: scale(.7);
        -o-transform: scale(.7);
      }
      .statistic__title {
        font-family: Alselm-bold;
        font-size: 3.4rem;
        text-align: center;
      }

      .statistic__blocks {
        grid-template-columns: repeat(1, minmax(30rem, 42rem));
      }
      .statistic__block {
        padding: 1rem 1.5rem 3rem;
      }
      .statistic__block-title {
        font-size: 1.6rem;
      }
      .statistic__block-title span {
        font-family: Alselm-bold;
        font-size: 3rem;
      }
      .statistic__block-img {
        transform: scale(.8);
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
  }
      .statistic__block-text {
        font-size: 1.8rem;
      }
    /*/ Statistic */
    /* Free Test */
      .free-test__form {
        margin-top: 2.5rem;
      }
      .free-test__stroke-input {
        font-size: 2rem;
      }
      .free-test__stroke-title {
        font-size: 2.6rem;
      }
    /*/ Free Test */
  /*/ Main */
  /* Popup */
    .popup {
      min-width: unset;
      width: 100%;
      height: 100vh;
      padding: 2.5rem 2.5rem;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }
    .popup .free-test__stroke-input {
      font-size: 1.8rem;
      padding: 1.2rem 1.5rem 1.2rem
    }
    .popup .free-test__stroke-title {
      font-size: 2.2rem;
    }
    .popup .free-test__form {
      width: 100%;
    }
  /*/ Popup */
}
@media (max-width: 425px) {
  /* Header */
  .header .nav {
    width: 100vw;
  }

  .header__bottom-title {
    font-size: 3.4rem;
    line-height: 4.6rem;
  }
  .header__bottom-subtitle {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
  /*/ Header */

  /* Main */
    /* Decision */
      .decision__img-wrap::before {
        height: calc(100% + 7rem);
      }

      .decision__about-item {
        font-size: 2rem;
        line-height: 2.8rem;
      }
      .decision__companies-item {
        margin: 1rem 2rem;
      }
    /*/ Decision */
    /* Instrument */
      .instrument__info-text {
        font-size: 2.3rem;
        line-height: 3.2rem;
      }
      .instrument__info-text img {
        width: 7rem;
        height: auto;
      }
    /*/ Instrument */
    /* How Its Work */
      .how-its-work__integration {
        margin-top: 2rem;
      }
      .how-its-work__integration-text {
        font-size: 2.5rem;
      }
      .how-its-work__imgs {
        grid-template-columns: repeat(1, 1fr);
      }
      .how-its-work__imgs ul {
        display: block;
        margin-top: 0;
      }
      .how-its-work__imgs img {
        margin: 0 !important;
      }
      .how-its-work__integration-img img {
        width: 100%;
      }

      .how-its-work__checkpoints-wrap .how-its-work__checkpoints .how-its-work__checkpoint:first-child {
        display: none;
      }
      
      .how-its-work__checkpoint-count {
        font-size: 20rem;
        line-height: 15rem;
      }
      .how-its-work__checkpoint {
        margin: 1.5rem 0;
      }
      .how-its-work__checkpoint p {
        font-size: 1.8rem;
        line-height: 2.2rem;
      }
    /*/ How Its Work */
    /* Free Test */
      .message-free-test__title img {
        max-height: 7rem;
      }
      .message-free-test__title {
        font-size: 2.2rem;
        line-height: 3.2rem;
      }
      .message-free-test__text {
        margin-top: 1rem;
        font-size: 1.4rem;
        line-height: 2rem;
      }
    /*/ Free Test */
    /* DataBase */
      .database__list-item-text {
        font-size: 1.6rem;
        line-height: 2.5rem;
      }
      .database .section-title__text {
        font-size: 2.4rem;
        line-height: 3rem;
      }
    /*/ DataBase */
    /* About */
      .about__list {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      .about__list-item {
        padding: .8rem;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .about__list-item img {
        width: 80%;
      }
      .about__info .btn {
        width: 100%;
        margin-top: 3rem;
      }
    /*/ About */
    /* Create */
      .create__list-item {
        margin: 1.75rem 0 0 0;
      }
      .create__list-item-text {
        font-size: 1.6rem;
        line-height: 1.8rem;
      }
    /*/ Create */
    /* Statistic */
      .statistic {
        margin-top: 3.5rem;
      }
      .statistic .statistic__background {
        display: none;
      }
      .statistic__title {
        font-family: Alselm-bold;
        font-size: 3rem;
        text-align: center;
      }
      .statistic__block {
        padding: 1rem 1.5rem 3rem;
      }
      .statistic__block-title {
        font-size: 1.4rem;
      }
      .statistic__block-title span {
        font-family: Alselm-bold;
        font-size: 2.5rem;
      }
      .statistic__block-img {
        transform: scale(.7);
        -webkit-transform: scale(.7);
        -moz-transform: scale(.7);
        -ms-transform: scale(.7);
        -o-transform: scale(.7);
}
      .statistic__block-text {
        font-size: 1.6rem;
      }
    /*/ Statistic */
  /*/ Main */
}
@media (max-width: 375px) {
  /* Secondary */
  .btn {
    text-align: center;
    padding: 1.5rem 1.2rem;
    font-size: 1.6rem;
  }
  .section-title__text {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }
  /*/ Secondary */
  
  /* Header */
  .header__bottom {
    height: auto;
    padding: 16rem 0 18rem;
  }
  .header .nav {
    width: 100vw;
  }
  /*/ Header */

  /* Main */
    /* Decision */
      .decision__img-wrap::before {
        height: calc(100% + 5rem);
      }
      .decision__about-item-icon {
        transform: scale(.9);
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
      }
      .decision__about-item {
        font-size: 1.8rem;
        line-height: 2.5rem;
      }
      .decision__companies-item {
        margin: 1rem 2rem;
      }
    /*/ Decision */
    /* Instrument */
      .instrument__info-text {
        font-size: 2.2rem;
        line-height: 3.2rem;
      }
      .instrument__info-text img {
        width: 6.8rem;
        height: auto;
      }
    /*/ Instrument */
    /* How Its Work */
      .how-its-work__checkpoint,
      .how-its-work__checkpoint div {
        display: block;
      }
      .how-its-work__checkpoint-count {
        float: left;
        font-size: 15rem;
        line-height: 9rem;
      }
    /*/ How Its Work */
    /* Free Test */
      .message-free-test__title {
        font-size: 2rem;
        line-height: 2.5rem;
      }
      .message-free-test__text {
        margin-top: 1rem;
        font-size: 1.2rem;
        line-height: 1.5rem;
      }
    /*/ Free Test */
    /* DataBase */
      .database__list-item-text {
        font-size: 1.4rem;
        line-height: 2.2rem;
      }
    /*/ DataBase */
    /* Create */
      .create__list-item-text {
        font-size: 1.3rem;
        line-height: 1.4rem;
      }
    /*/ Create */
  /*/ Main */
}
@media (max-width: 321px) {
  /* Secondary */
  .section-title__text {
    font-size: 2.6rem;
  }
  /*/ Secondary */
  
  /* Header */
  .header .nav {
    width: 100vw;
  }
  /*/ Header */

  /* Main */
    /* Decision */
      .decision__about-item-icon {
        transform: scale(.9);
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
      }
      .decision__about-item {
        font-size: 1.6rem;
        line-height: 2rem;
      }
      
      .decision__img-wrap {
        display: flex;
        justify-content: center;
      }
      .decision__companies {
        margin-top: 3rem;
        flex-direction: column;
      }
    /*/ Decision */
    /* Instrument */
      .instrument__info-text {
        font-size: 2rem;
        line-height: 3rem;
      }
      .instrument__info-text img {
        width: 6.5rem;
        height: auto;
      }
    /*/ Instrument */
    /* How Its Work */
      .how-its-work__checkpoint .btn {
        width: unset !important;
        align-self: flex-start;
      }
      .how-its-work__checkpoint .marker-text {
        margin: 2rem 0;
        font-size: 1.6rem;
        line-height: 2rem;
      }
    /*/ How Its Work */
    /* Free Test */
      .message-free-test__title {
        font-size: 1.8rem;
        line-height: 2.2rem;
      }
    /*/ Free Test */
    /* Statistic */
      .statistic {
        margin-top: 3.5rem;
      }
      .statistic .statistic__background {
        display: none;
      }
      .statistic__title {
        font-family: Alselm-bold;
        font-size: 3rem;
        text-align: center;
      }
      .statistic__block {
        padding: 1rem 1.5rem 2.5rem;
      }
      .statistic__block-title {
        font-size: 1.4rem;
      }
      .statistic__block-title span {
        font-family: Alselm-bold;
        font-size: 2.5rem;
      }
      .statistic__block-img {
        overflow: visible;
        transform: scale(.65);
        -webkit-transform: scale(.65);
        -moz-transform: scale(.65);
        -ms-transform: scale(.65);
        -o-transform: scale(.65);
        min-width: 10rem;
        max-width: 10rem;
      }
      .statistic__block-text {
        font-size: 1.6rem;
      }
      .statistic__block-info {
        margin-left: -.75rem;
      }
    /*/ Statistic */
  /*/ Main */
}